﻿@model PassionProject1N01659860.Models.Comments
@{
    ViewBag.Title = "Details";
}

<a href="/Comments/List">Go back to list</a>
<br />
<a href="/Comments/Edit/@Model.CommentID">Update</a>
<br />
<a style="color:#ab2020;" href="/Comments/DeleteConfirm/@Model.CommentID">Delete</a>
<div><strong>Comment:</strong> @Model.CommentText</div>
<div><strong>Description:</strong> @Model.DateCommented</div>
<div><strong>Art ID:</strong> @Model.ArtID</div>
<div><strong>User ID:</strong> @Model.UserID</div>