﻿
@{
    ViewBag.Title = "New";
}

<h2>Add new Comment</h2>

<form action="/Comments/Create" method="post">
    <div class="form-group">
        <label for="CommentText">CommentText</label>
        <textarea class="form-control" id="CommentText" name="CommentText" required></textarea>
    </div>
    <div class="form-group">
        <label for="DateJoined">Date Joined</label>
        <input type="date" class="form-control" id="DateJoined" name="DateJoined" required />
    </div>
    <div class="form-group">
        <label for="ArtID">ArtID</label>
        <input type="number" class="form-control" id="ArtID" name="ArtID" required />
    </div>
    <div class="form-group">
        <label for="UserID">UserID</label>
        <input type="number" class="form-control" id="UserID" name="UserID" required />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Add Comments" />
    </div>
</form>