@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="hero-section">
        <div class="hero-content col-md-6 p-5">
            <img src="~/Content/Images/logo1.png" alt="ArtistryCMS" />
            <h1 class="mb-3 mt-4">Toronto Public Art Gallery</h1>
            <p>Manage your art gallery with an ease...</p>
            <div class="d-flex align-items-center mt-5">
                <a href="/Art/List" class="btn btn-secondary me-2 mb-2">Arts</a>
                <a href="/User/List" class="btn btn-outline-secondary mb-2">Users</a>
            </div>
        </div>
    </section>
</main>