﻿﻿@model PassionProject1N01659860.Models.User

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2 class="mb-4">Are you sure you want to delete this user?</h2>
<div class="card bg-secondary-subtle">
    <div class="card-body">
        <h4 class="card-title">@Model.UserName</h4>
        <p class="card-text">@Model.Email</p>
        <p class="card-text card-text-one"><small class="text-muted">@Model.DateJoined</small></p>
        <div class="d-flex align-items-center">
            <a href="/User/List" class="btn btn-danger me-2 mb-2">Cancel</a>
            <form action="/User/Delete/@Model.UserID" method="POST">
                <input type="submit" value="Confirm Delete" class="btn btn-success mb-2" />
            </form>
        </div>
    </div>
</div>